<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home Page</title>
</head>
<body>
<h1> Welcome to the Web App</h1>
<h4>Please enter your message to post</h4>
<form method="post" action="/SubmitMessage">
    <input type="text" name="message" placeholder="Enter your message">
    <br><br>
    <input type="submit" value="Submit" name="ok"/>
</form>
<br />
<br />
<h4>Please enter your message to search </h4>	
<form method="post" action="/SearchMessage">
    <input type="text" name="message" placeholder="Enter your message">
    <br><br>
    <input type="submit" value="Submit" name="ok"/>
</form>
</body>
</html>
